body{
    background-image: url("../images/배경_낮.png");
    background-size: cover;
    height: 95vh;
    background-repeat: no-repeat; /*이미지 반복 X*/
}
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*text 폰트*/
/* @import url(//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
.nanumgothiccoding * {
 font-family: 'Nanum Gothic Coding', monospace;
} */
@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Recipekorea';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
h1{
    /*text-align: center;*/
    margin-left: 70px;
    color:white;
    display:inline;
    font-family: 'yg-jalnan';
    color: #D7818A;
    text-shadow: #484A46 0px 0px,#484A46 -0px 0px,#484A46 -1px 1px,#484A46 -2px 2px,#484A46 -3px 3px,#484A46 -4px 4px, 
    #484A46 -5px 5px,#484A46 -6px 6px,#484A46 -7px 7px,#484A46 -8px 8px,#484A46 -9px 9px,#484A46 -10px 10px;
    
}
div{
    position: absolute;
}
.menu{
    font-family: 'CookieRun-Regular';
    color:white;
    /* background-color: rgba(182, 144, 243, 0.788); */
    background: linear-gradient(to right, #04acc0, #84c9ba);
    border-radius : 30px 30px 30px 30px;
    width: 150px;
    height: 50px;
    text-align: center;
    display:inline-block;
    position:relative;
    left : 200px;
}
@font-face {
    font-family: 'SBAggroL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#myProgress{
    font-family: 'SBAggroL';
    margin-left: 200px;
    width: 1130px;
    height: 100px;
  }
  #myProgress::after{
      clear: both;
      display: block;
      content: '';
  }
  #myBar {
    width: 50%;
    height: 30px;
    background-color: #505B74;
    text-align: center; 
    line-height: 30px;
    color: white;
    /* float: left; */
    right: 0px;
    margin-top: 40px;
    line-height: 33px;
  }
  #myBar1 {
    width: 50%;
    height: 30px;
    background-color: #EF9D99;
    text-align: center;
    line-height: 30px;
    color: white;
    /* float: right; */
    margin-right: 10px;
    margin-top: 40px;
    line-height: 33px;
  }
#tree{
    position :absolute;
    top:70px; 
    left: 700px;
    height: 15%;
}
#wolf{
    position :absolute;
    top:70px; 
    height: 15%;
    left: 135px;
}
#Grandma{
    position: absolute;
    top:70px;
    height: 15%;
    right: 155px;
}
.backbtn{
    left: 370px;
    margin-top: 18px;
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:50px;
    font-size:20px;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    font-family: 'Recipekorea';
    line-height: 60px;
}
.backbtn:hover{
    background:#fff;
    color:#1AAB8A;
}
.backbtn:before,.backbtn:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
}
.backbtn:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.backbtn:hover:before,.backbtn:hover:after{
    width:100%;
    transition:800ms ease all;
}

#musicbtn{
    position:absolute;
    top: 630px;
    left: 30px;
    /* right: 60px; */
}

.box1{
    width: 1130px;
    height: 500px;
    outline: 4px solid honeydew;
    /*z-index:1;*/
    top: 110px;
    left: 200px;
}
.text{
    left : 82px;
    width : 950px;
    height: 30px;
    /* font-family: 'Nanum Gothic Coding', monospace; */
    font-family: 'IM_Hyemin-Bold';
    font-size: 20px;
    line-height: 30px;
    background-color: rgba(255, 255, 255, 0.445);
}
.intext{
    left : 77px;
    width : 950px;
}
input[type=text]{
    border: 2px solid #fff;
    border-radius:5px;
    width: 950px;
    height: 27px;
    /* font-family: 'Nanum Gothic Coding', monospace; */
    font-family: 'IM_Hyemin-Bold';
    font-size: 20px;
}
#t8>input[type=text]{
    /* background: linear-gradient(to right, pink, red); */
    color: #fff;
}
#t1{
    top: 17px;
    outline: 3px solid #ff7f7f;
    /* background-color: #ff7f7f; */
}
#t2{
    top: 60px;
}
#t3{
    top: 110px;
    outline: 3px solid #fdc4f8;
    /* background-color: #fdc4f8; */
}
#t4{
    top: 152px;
}
#t5{
    top: 212px;
    outline: 3px solid #cb9ffd;
    /* background-color: #cb9ffd; */
    /* color: white; */
}
#t6{
    top: 255px;
}
#t7{
    top: 310px;
    outline: 3px solid #a9e1ed;
    /* background-color: #a9e1ed; */
    /* color: white; */
}
#t8{
    top: 357px;
}
#t9{
    top: 410px;
    outline: 3px solid #6eceda;
    /* background-color: #f3cdad; */
    /* color: white; */
}
#t10{
    top: 447px;
}